@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #101010;
  color: #FFFFFF;
}

.icon {
  @apply flex shrink-0 aspect-square;

  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}
